*.py_Processed
*.pyc
*.py_Stripped
*.pkl
*.html
*.java_Stripped
timeInfor.py
timeInfor.py.lprof
cleanFlask/input/
secondComparisonAlgorithm/templates/Input/
secondComparisonAlgorithm/templates/corpusFiles/
templates/Input/
templates/corpusFiles/

