<!doctype html>
    <html>
    <head>

    
    <meta charset="utf-8" />
    <title>Test</title>
    
    <style>
      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
      }
      table.center {
          margin-left: auto;
          margin-right: auto;
      }
    </style>
    </head>
    <body>
    <button onclick="window.location.href = '/addToCorpus';">Add to the corpus</button>
    <table class="center">
      <tr>
        <th>doc Pairs</th>
        <th>hash similarity</th>
        <th>line similarity</th>
        <th>Link</th>
        
      </tr>
      {% for i in htmlTable %}
        <tr><th>{{i[1]}}</th><th>{{i[2]}}</th><th>{{i[3]}}</th><th><A HREF="/Link/{{i[0]}}">Link</A></th></tr>
    {% endfor %}
    </table>
    </body>
        </html>