<!DOCTYPE html>
    <html>
    <head>
    <title>Side by side comparison</title>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    table.center {
        margin-left: auto;
        margin-right: auto;
    }
    </style>
    </head>
    <body>
    <table class="center">
        <tr>
            <th>File1</th>
            <th>File2</th>
        </tr>
    <tr><th><A HREF="1-2.html#0" TARGET="LeftFile">1-4</A></th>
<th><A HREF="1-3.html#0" TARGET="RightFile">1-4</A></th>
</tr>
<tr><th><A HREF="1-2.html#1" TARGET="LeftFile">5-9</A></th>
<th><A HREF="1-3.html#1" TARGET="RightFile">5-9</A></th>
</tr>
<tr><th><A HREF="1-2.html#2" TARGET="LeftFile">10-2</A></th>
<th><A HREF="1-3.html#2" TARGET="RightFile">10-2</A></th>
</tr>
<tr><th><A HREF="1-2.html#3" TARGET="LeftFile">15-19</A></th>
<th><A HREF="1-3.html#3" TARGET="RightFile">15-19</A></th>
</tr>
</table>
</body>
</html>