<!DOCTYPE html><html><head><title>database/databaseFile3.py</title></head><body BGCOLOR=white><HR>database/databaseFile3.py<p><PRE>
def timeToChange():
<A NAME="0"></A><FONT color = #FF0000>    a = 1 + 4
    b = a + 3
    c = 45 + 1
    return a
</FONT><A NAME="1"></A><FONT color = #FF0000>
def stringFunction(a, b):
    string1 = "abcd"
    string2 = "cdabbbbbb"
    string3 = string1 + string1
</FONT><A NAME="2"></A><FONT color = #FF0000>    return string3

def doesNothingss():
    a = 1
    b = "b"
    c = False

def arrayAddition(c):
    c = c + [45]


timeToChange()
stringFunction("a","b")
doesNothing()
arrayAddition([4,3,2])</PRE></PRE></Body></HTML>