<!DOCTYPE html><html><head><title>testfiles/databaseFile1.py</title></head><body BGCOLOR=white><HR>testfiles/databaseFile1.py<p><PRE>
    <A NAME="0"></A><FONT color = #FF0000>def numberFunction():
        a = 1 + 2
    </FONT>    b = a + a
    <A NAME="1"></A><FONT color = #FF0000>    c = b + 1
        return c
    </FONT>
    <A NAME="2"></A><FONT color = #FF0000>def stringFunction(input1, input2):
        string1 = "abcd"
        string2 = "cda"
        string3 = string1 + string2
        return string2 
    </FONT>
    def doesNothing():
        a = 1
        b = "b"
        c = True
    
    def arrayAddition(a):
        a = a + [1]
    
    
    numberFunction()
    stringFunction("a","b")
    doesNothing()
    <A NAME="3"></A><FONT color = #FF0000>arrayAddition([4,3,2])</FONT></PRE></PRE></Body></HTML>