<!doctype html>
    <html>
    <head>

    
    <meta charset="utf-8" />
    <title>Test</title>
    
    <style>
      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
      }
      table.center {
          margin-left: auto;
          margin-right: auto;
      }
    </style>
    </head>
    <body>
        <form action="/loadSpecifiedComparison" method = "POST">
            <p>Save file to load <input type = "text" name = "Save File to load" /></p>
            <p><input type = "submit" value = "Submit" /></p>
        </form>
    
    <table class="center">
      <tr>
        <th>Saved Files</th>
      </tr>
      {% for i in newEntry %}
        <tr><th>{{i}}</th></tr>
    {% endfor %}
    </table>
    </body>
</html>